/*
Theme Name: Projeto final
Author: Daniel Lima
Description: tema para o projeto final
Version: 1
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import 'css/reset.css';

body {
    font-family: 'Roboto', sans-serif;
   
}
header {
    background-color: #7A247D;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;
}

.header-logo {
    width: 77px;
    height: 42px;
    margin-right: 2rem;
}

.header-icon {
    width: 48px;
    height: 42px;
}

header span:nth-child(1) {
    display: flex;
    align-items: center;
}

header span:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caixa-texto {
    border: solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #F5C661;
    display: flex;
    align-items: center;
    height: 1.4rem;
    width: 30rem;
    min-width: 10rem;
  
}

/* .caixa-botao {
    width: 18px;
} */

.caixa-botao button {
    color: transparent;
    border: none;
    background-color: transparent;
}

#lupinha {
    width: 18px;
    height: 18px;
    left: 0;
}
.search-field {
    width: 100%;
    height: 1rem;
    background-color: transparent;
    border: none;
    color: #F5C661;
    font-size: 18px;
    font-weight: 200;
   
}

.faca-pedido {
    background-color: #F5C661;
    padding: 0.5rem 0.9rem;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

header span:nth-child(2) > * {
    margin-left: 2rem;
}
/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5C661;
    font-weight: 700;
    font-size: 14px;
    height: 20px;
}




/* landing page */

.banner-landing{
    height: 19em;
    background-color: #7A247D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-landing > h1 {
    color: #F5C661;
    font-size: 48px;
    font-weight: 900;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 2rem 0;
}

.banner-landing > p {
    color: #FAFAFA;
    font-weight: 300;
    font-size: 26px;
}

.stand-landing {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E7FAFE;
}

.stand-landing > h1 {
    color: #333333;
    font-size: 32px;
    margin: 3rem;
}
.stand-landing div > ul {
    display: flex;
    flex-direction: row;
}

.pratos-principais {
    width: 70% ;
    /* display: flex; */
    /* justify-content: center;
    flex-direction: column; */
  
}

.pratos-principais > h2{
    font-size: 24px;
    color: black;

}
.categorias {
    display: flex;
   
    flex-wrap: wrap;
}
.categorias > li {
    margin: 2rem 2rem 2rem 0;
    height: 13rem;
    width: 14rem;
    min-width: 15rem;
    position: relative;
    
}

.categorias > li:hover {
    height: 12rem;
    transition: 0.5s;
}

.categorias li > img {
    width: 100%;
    height: 100%;
}
.nome-categoria {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    font-size: 24px;
    font-weight: 300;
    color: white;
    background-image: linear-gradient(to right, #6A066D , transparent);
    align-self: center;
    width: 14rem;
    padding: 1rem 0 1rem 1rem;
    text-decoration: none;
}
.pratos-dia {
    width: 70% ;
}

.pratos-dia h2, h3{
    font-size: 24px;
    margin-top: 0.4rem;
}

.pratos {
    display: flex;
    flex-wrap: wrap;
}
.pratos > li {
    margin: 2rem 2rem 2rem 0;
    height: 373px;
    width: 240px;
    position: relative;
}
.pratos > li:hover{

    height: 360px;
    transition: 0.5s;
}
.pratos li > img {
    width: 100%;
    height: 100%;
}

.pratos li > div {
    position: absolute;
    bottom: 0rem;
    font-size: 24px;
    font-weight: 300;
    color: white;
    background-image: linear-gradient(to right, #6A066D , transparent);
    align-self: center;
    
    width: 14rem;
    padding: 1rem 0 1rem 1rem;
}
.nome-prato {
    font-size: 18px ;
}

.preco-cart {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 24px;
    justify-content: space-between;
    margin-top: 1rem;
}

.preco-cart img {
    width: 34px;
    height: 30px;
    background-color: #F5C661;
    padding:5px;
    margin: 1rem 0.5rem 0 0;
}

.outras-opcoes {
    text-decoration: none;
    background-color: #F5C661;
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.visite-nossa-loja {
    background-color: #7A247D;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    color: #FAFAFA;
}

.visite-nossa-loja > h1 {
    margin: 2rem;
}

.visite-nossa-loja > div {
    display: flex;
}

.contato {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.contato img {
    width: 1rem;
    height: 1rem;
    margin-top: 1rem ;
}
.contato p {
    margin:  1rem 0 0 0.5rem ;

}
.endereco {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #FFFFFF;
}

.nossa-loja {
    margin: 2rem;
}
.nossa-loja img {
    width: 37rem;
    height: 20rem;
}
/* SIDEBAR */


#sidebar {
    position: fixed;
    z-index: 5;
    right: 0%;
    top: 0%;
    display: none;
    flex-direction: column;

    background-color: #F5C661;
    height: 100%;
    width: 25rem;
    overflow: auto;
    align-items: center;
}

#sidebar h1 {
    margin-left: 1rem;
    font-size: 32px;
    color: #6A066D;
    
}

#x-fechar {
    font-size: 15px;
    position: absolute;
   top: 3rem;
   left: 23rem;
}

#carrinho-side{
    display: none;

}

#opacidade {
    position: fixed;
    z-index: 3;
    right: 0%;
    top: 0%;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
#carrinho-side[type="checkbox"]:checked ~ #sidebar {
    display: flex;
    
}

#carrinho-side[type="checkbox"]:checked ~ #opacidade {
    display: inline;
}

.caixa-prato-carrinho{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 8em;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}

.imagens-carrinho img {
    width: 8em;
    height: 8em;
}

.texto-carrinho {
    background: #D7F6FD;
    width: 100%;
}

.nome-prato-carrinho {
    font-size: 20px;
    font-weight: 350;
    margin: 0.5rem;
}

.quantidade-preco-carrinho {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    font-size: 20px;
}

.quantidade-prato-carrinho {
    font-weight: 300;
    margin-left: 2rem;
}

.preco-prato-carrinho {
    font-weight: 400;
    margin-left: 5rem;
}

#botao-carrinho {
    text-decoration: none;
    background-color: #6A066D;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    margin: 2rem;
}

.linha-carrinho {
    
    border-top: 3px  solid;
    width: 20rem;
    border-color: blueviolet;
}
input[type="text"]:focus {     outline:none; };